## How-to Enumerate uuuotfiles:
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	email = hello@drruruu.dev
	name = Skurhse Rage 🌆🌃🌌
[core]
	editor = vim
	autocrlf = input
[pull]
	ff = only
