[alias]
	wdiff = diff --word-diff
	wlog = log --word-diff
[browser "wslview"]
	cmd = wslview
[core]
	editor = vim
[credential "https://github.com"]
	helper = !gh auth git-credential
[help]
	format = web
[web]
	browser = wslview
